@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html,
body {
    height: 100%;
}

body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    background: linear-gradient(to bottom right, var(--Radial-Gradient));
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .score {
    display: flex;
    line-height: 30px;
    width: 550px;
    justify-content: space-between;
    border: 4px solid var(--Gray-600);
    padding: 20px;
    margin-top: 40px;
    border-radius: 12px;
}

.container .score .score-board {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 80px;
    background-color: white;
    font-weight: 600;
    border-radius: 8px;
    box-shadow: 0px 5px 0px rgba(0, 0, 0, 0.2);
}

.container .score .score-board .score-text {
    color: var(--Blue700);
    font-size: 14px;
}

.container .score .score-board .score-number {
    color: var(--Navy-900);
    font-size: 45px;
    font-weight: 700;
    padding-bottom: 13px;
}

.container .game {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.container .game .triangle {
    background-image: url('../images/bg-triangle.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 45%;
}

.container .game .triangle,
.container .game #result {
    display: flex;
    width: 400px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.container .game .triangle .option,
.container .game #result .option {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    cursor: pointer;
    transition: transform 0.2s;
}

.container .game .triangle .option:hover,
.container .game #result .option:hover {
    transform: translateY(-2px);
}

.container .game .triangle .option:active,
.container .game #result .option:active {
    transform: translateY(10px);
}

.container .game .triangle .option.option--paper,
.container .game #result .option.option--paper {
    border: 20px solid var(--Blue500);
    box-shadow:
        inset 0 6px rgba(0, 0, 0, 0.15),
        0px 7px 0px var(--Blue700);
}

.container .game .triangle .option.option--scissors,
.container .game #result .option.option--scissors {
    border: 20px solid var(--Gold500);
    box-shadow:
        inset 0 6px rgba(0, 0, 0, 0.15),
        0px 7px 0px var(--Gold600);
}

.container .game .triangle .option.option--rock,
.container .game #result .option.option--rock {
    border: 20px solid var(--Red600);
    box-shadow:
        inset 0 6px rgba(0, 0, 0, 0.15),
        0px 7px 0px var(--Red800);
}

.container .rules-container {
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.container .rules-container .rules-button {
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 8px;
    background-color: transparent;
    color: white;
    font-weight: 600;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
    margin: 0px 50px 50px 0px;
}

.container .rules-container .rules-button:hover {
    background-color: white;
    color: var(--Navy-900);
}

.container .rules-container .rules-content {
    position: absolute;
    z-index: 1;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 350px;
    height: 350px;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.2s;
    color: black;
    border-radius: 12px;
}

.container .rules-container .rules-content .rules-title {
    font-size: 24px;
    color: var(--Gray-600);
    display: flex;
    align-self: flex-start;
    padding: 20px;
}

.container .rules-container.open .rules-content {
    visibility: visible;
    opacity: 1;
}

.container .rules-container .rules-content .close img {
    position: absolute;
    top: 8%;
    right: 5%;
    cursor: pointer;
}

/* Close button - rules page */
.container .rules-container .rules-content.open .close {
    width: 20px;
    height: 20px;
    color: black;
}

/* Result styles */
.container .game .result-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.container .game #result {
    display: none;
}

.container .game .result-container .picked,
.container .game .result-container .house-picked {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding-bottom: 20px;
    letter-spacing: 2px;
}

.container .game .result-container .not-picked {
    background-color: hsl(237, 48%, 15%);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0px 5px 0px rgba(0, 0, 0, 0.2);
    margin: 20px;
}

.container .game .result-container .result-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 30px;
    text-align: center;
}

.container .game .result-container .result-message .result-title {
    font-size: 32px;
    margin-bottom: 20px;
    text-transform: uppercase;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}


.container .game .result-container .result-message .play-again {
    padding: 12px 50px;
    border: none;
    border-radius: 8px;
    background-color: white;
    color: var(--Gray-600);
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0px 5px 0px rgba(0, 0, 0, 0.2);
    transition: background-color 0.2s;
    width: 180px;
}

.container .game .result-container .play-again:hover {
    color: var(--Red600);
}

.container .game #result .result-container .option.bigger {
    width: 200px !important;
    height: 200px !important;
}

.winner {
    position: relative;
    z-index: 2;
    overflow: visible;
}

/* Ring Effects */
.winner::before,
.winner::after,
.winner::marker {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200%;
    height: 200%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.05);
    z-index: -1;
    animation: pulse 1.5s infinite ease-out;
}

.winner::after {
    animation-delay: 0.5s;
}

.winner::marker {
    animation-delay: 1s;
}

@keyframes pulse {
    0% {
        transform: translate(-50%, -50%) scale(0.7);
        opacity: 0.6;
    }

    70% {
        transform: translate(-50%, -50%) scale(1.3);
        opacity: 0.3;
    }

    100% {
        transform: translate(-50%, -50%) scale(1.6);
        opacity: 0;
    }
}

@media (max-width: 600px) {
    .container .score {
        width: 90%;
        align-items: center;
        gap: 20px;
    }
}

@media (max-width: 376px) {
    .container .score {
        line-height: 16px;
        border-radius: 8px;
        padding: 10px 10px 10px 20px;
    }

    .container .score .title {
        font-size: 20px;
    }

    .container .score .score-board {
        width: 70px;
        height: 60px;
        border-radius: 5px;
    }

    .container .score .score-board .score-text {
        font-size: 11px;
        padding-bottom: 4px;
    }

    .container .score .score-board .score-number {
        font-size: 35px;
        padding-bottom: 8px;
    }

    .container .rules-container .rules-content {
        width: 100%;
        height: 100%;
        border-radius: 0px;
    }

    .container .rules-container .rules-content .close img {
        top: 85%;
        right: 47%;
    }

    .container .game .triangle,
    .container .game #result {
        width: 300px;
    }

    .container .game .triangle .option,
    .container .game #result .option {
        width: 120px;
        height: 120px;
        margin: 15px;
    }

    .container .game .result-container .not-picked {
        width: 120px;
        height: 120px;
        margin: 15px;
    }

    .container .game .triangle .option.option--paper,
    .container .game #result .option.option--paper {
        border: 12px solid var(--Blue500);
    }

    .container .game .triangle .option.option--scissors,
    .container .game #result .option.option--scissors {
        border: 12px solid var(--Gold500);
    }

    .container .game .triangle .option.option--rock,
    .container .game #result .option.option--rock {
        border: 12px solid var(--Red600);
    }

    .container .rules-container {
        justify-content: center;
    }

    .container .rules-container .rules-button {
        margin: 0px 0px 20px 0px;
        padding: 10px 30px;
    }

    .container .game #result .result-container .option.bigger {
        width: 120px !important;
        height: 120px !important;
    }

    .container .game .result-container .picked,
    .container .game .result-container .house-picked {
        font-size: 12px;
        padding-bottom: 10px;
        letter-spacing: 1.7px;
    }

    .container .game .result-container>div:first-child,
    .container .game .result-container>div:last-child {
        width: 40%;
    }

    .container .game .result-container>div:first-child,
    .container .game .result-container>div:last-child {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .container .game .result-container>div:first-child,
    .container .game .result-container>div:last-child {
        order: 1;
    }

    .container .game .result-container>div.result-message {
        order: 2;
        margin-top: 2rem;
    }

    .container .game .result-container {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .container .game .result-container .result-message .result-title {
        font-size: 45px;
    }
}