html:root {
    --Gold500: hsl(39, 89%, 49%);
    --Gold600: hsl(28, 76%, 44%);
    --Blue500: hsl(230, 89%, 62%);
    --Blue700: hsl(229, 64%, 46%);
    --Red600: hsl(349, 71%, 52%);
    --Red800: hsl(347, 75%, 35%);
    --Purple600: hsl(261, 73%, 60%);
    --Purple700: hsl(261, 51%, 44%);
    --Light-blue-400: hsl(189, 59%, 53%);
    --Light-blue-500: hsl(194, 58%, 42%);
    --Navy-900: hsl(229, 25%, 31%); 
    --Blue-700: hsl(229, 64%, 46%); 
    --Gray-600: hsl(246, 11%, 37%); 
    --Radial-Gradient: hsl(214, 47%, 23%), hsl(237, 48%, 15%);
}